@font-face{
    font-family: 'adler';
    src: url(fonts/Adler.ttf);
}

body {
    
    max-width: 1200px;
    margin: auto;
    font-family: 'adler';
    color: rgb(154, 167, 14);
}

header {
    
    width: 300px;
    position: fixed;
    top: 15px;
    left: 45px;
}

nav {
    
    width: 300px;
    position: fixed;
    top: 300px;
    left: 45px;
}

main {
    background-image:url(vhstwo.png);
    width: 650px;
    margin-left: 500px;
}

section {
    background-image: url(img/Hallway.jpg);
    border: 23px, darkblue, solid;
    text-align: center;
    margin-top: 14px;
    padding: 15px;
}

section img { 
    border: 1px darkblue solid;
    
}

footer { 
    background-color: rgb(14, 119, 14);
    width: 300px;
    position: fixed;
    bottom: 45px;
    left: 45px;
}

#splashgif{
    
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20%;
    
}

#splashgif:hover{
    opacity: 0.5;
}

#hall{
    text-align: center;
    margin: auto;
    margin-top: 5%;
}